#itemDivTable {
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 2.5%;
}

.itemDiv {
    border-radius: 25px;
    width: 100%;
    background-color: blue;
    box-shadow: 2px 2px 5px 4px rgba(65, 65, 65, 0.25);
}

#itemDiv1 {
    background-image: linear-gradient(135deg, #08AEEA 0%, #2BFF88 100%);
}

#itemDiv2 {
    background-image: linear-gradient(315deg, #D9AFD9 0%, #2BD2FF 52%, #2BFF88 90%);
}

#itemDiv3 {
    background-image: linear-gradient( 315deg,  rgba(59,158,255,1) -1.2%, rgba(246,135,255,1) 91.6% );
    /*background-image: linear-gradient(135deg, #D9AFD9 0%, #97D9E1 100%);*/
}

#itemDiv4 {
    background-image: linear-gradient(315deg, #12c2e9, rgba(0,255,160,1) 100.2% );
}

#itemDiv5 {
    background: linear-gradient(135deg, #12c2e9, #c471ed, #f64f59);
}

#itemDiv6 {
    background-image: linear-gradient( 135deg,  rgba(255,104,192,1) 11.1%, rgba(104,84,249,1) 81.3% );
}

.itemDiv img {
    width: 25%;
    margin-left: 37%;
    margin-right: 25%;
}

.itemDiv table th img {
    width: 10%;
    margin-left: 5%;
    margin-right: 25%;
}

.itemDivTitle {
    text-align: center;
    margin-top: 5px;
    font-size: 25px;
}

.plus-info {
    font-size: 15px;
	padding-left: 7%;
    padding-right: 7%;
}

.plus-info a {
    color: whitesmoke;
    text-decoration: none;
}

.plus-info a:hover {
    text-decoration: underline;
}

#contacts {
    width: 86%;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 5%;
}

#facebookDiv {
    border-radius: 100%;
    background-color: blue;
    box-shadow: 2px 2px 5px 4px rgba(65, 65, 65, 0.25);
    background-image: linear-gradient( 135deg,  rgba(2,108,223,1) 27.4%, rgba(0,255,255,1) 92.7% );
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
}

#facebookDiv img {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%;
}

#gmailDiv {
    border-radius: 100%;
    background-color: blue;
    box-shadow: 2px 2px 5px 4px rgba(65, 65, 65, 0.25);
    background-image: linear-gradient( 315deg,  rgba(255,85,85,1) 0.1%, rgba(85,85,255,1) 100% );
    width: 190%;
    margin-left: -55%;
    padding-right: 5%;
}

#gmailDiv img {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%;
}

#messengerDiv {
    border-radius: 100%;
    background-color: blue;
    box-shadow: 2px 2px 5px 4px rgba(65, 65, 65, 0.25);
    background-image: linear-gradient( 315deg,  rgba(75,207,250,1) 6.3%, rgba(25,159,249,1) 98.9% );
    width: 60%;
    margin-left: 35%;
    margin-right: 5%;
}

#messengerDiv img {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%;
}